footer.page-footer
    include svg
    ul.social
        li.social__item
            a.social__link(href='https://github.com/OlBol')
                svg.social__icon.social__icon--github
                    use(xlink:href='#svg-github')
        li.social__item
            a.social__link(href='https://ru.linkedin.com/in/olbol')
                svg.social__icon.social__icon--linkedin
                    use(xlink:href='#svg-linkedin')
        li.social__item
            a.social__link(href='https://vk.com/olbol')
                svg.social__icon.social__icon--vk
                    use(xlink:href='#svg-vk')
        li.social__item
            a.social__link(href='mailto:olbolot@gmail.com')
                svg.social__icon.social__icon--gmail
                    use(xlink:href='#svg-gmail')
