.page-header{
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 25px;

  &__name{
    font-size: 45px;
    color: #000;
    text-shadow: -1.5px -1.5px 10px yellow, 1.5px -1.5px 10px yellow, -1.5px 1.5px 10px yellow, 1.5px 1.5px 10px yellow;
    opacity: 0.5;
  }

  &__prof {
    color: #fff;
    font-size: 25px;
    margin-top: 15px;
  }

  @media (min-width: $screen-sm) {
    &__name {
      font-size: 70px;
      text-shadow: -1.5px -1.5px 10px yellow, 1.5px -1.5px 10px yellow, -1.5px 1.5px 10px yellow, 1.5px 1.5px 10px yellow;
    }

    &__prof {
      font-size: 40px;
    }
  }
  @media (min-width: $screen-md) {
    &__name {
      font-size: 100px;
      text-shadow: -2px -2px 10px yellow, 2px -2px 10px yellow, -2px 2px 10px yellow, 2px 2px 10px yellow;
    }

    &__prof {
      font-size: 50px;
    }
  }
}