.stars {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;

  &:first-child {
    background-image: url("../img/big-stars.png");
  }
  &:nth-child(2){
    background-image: url("../img/average-stars.png");
  }
  &:last-child {
    background-image: url("../img/little-stars.png");
  }

  @media (min-width: $screen-sm){
    &:first-child {
      animation: big-bg 2s linear;

      @keyframes big-bg {
        0% {
          top: 30px;
          left: 30px;
        }
        100% {
          top: 0;
          left: 0;
        }
      }
    }
    &:nth-child(2){
      animation: av-bg 2s linear;

      @keyframes av-bg {
        0% {
          top: 30px;
          right: 30px;
        }
        100% {
          top: 0;
          right: 0;
        }
      }
    }
    &:last-child {
      animation: lt-bg 2s linear;

      @keyframes lt-bg {
        0% {
          top: -30px;
          left: -30px;
        }
        100% {
          top: 0px;
          left: 0;
        }
      }
    }
  }
}




