doctype
html(lang='ru')
	include blocks/head
	body
		.container
			include blocks/sky
			include blocks/page-header
			include blocks/page-footer
		//script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
		script(src='js/script.js')